@charset "utf-8";

#wrap{overflow:hidden; min-height:100vh; min-width:1600px; display:flex; display:-webkit-flex; flex-wrap:wrap; -webkit-flex-wrap:wrap;}

/* header */
.header{overflow:hidden; height:75px; line-height:75px; background-color:#fff; border-bottom:1px solid #ccc; box-shadow:0 1px 0 rgba(4,96,167,0.08);}
.header .header_right_group{float:right;}
.header .header_right_group p{display:inline-block; padding-left:55px; background:url(../images/icon_user.png) left center no-repeat; vertical-align:middle;}
.header .header_right_group .icon_group{overflow:hidden; display:inline-block; padding:0 20px; vertical-align:middle;}
.header .header_right_group .icon_group li{float:left; line-height:75px;}
.header .header_right_group .icon_group li a{display:inline-block; position:relative; width:74px; height:74px; margin-right:5px; background-position:center center; background-repeat:no-repeat; font-size:0; vertical-align:middle;}

.header .header_right_group .icon_group li .h_top_login{background-image:url(../images/icon_login.png);}
.header .header_right_group .icon_group li .h_top_logout{background-image:url(../images/icon_logout.png);}

/* gnb */
.gnb{position:relative; float:left; width:255px; border-radius:0 20px 0 0; background-color:#193d6a; box-shadow:5px 5px 2px rgba(4,0,0,0.14); z-index:10;}
.gnb h1{margin:36px 0; text-align:center;}
.gnb h1 a{display:inline-block;}

.gnb > ul > li > a{display:block; height:75px; padding-left:85px; background-position:left 38px center; background-repeat:no-repeat; box-sizing:border-box; color:#fff; font-size:17px; line-height:75px;}

.gnb > ul > li > a:hover{background-color:#3b5a80; text-decoration:none;}

.gnb > ul > li > .m_register{background-image:url(../images/icon_m_register.png);}
.gnb > ul > li > .m_approval{background-image:url(../images/icon_m_approval.png);}
.gnb > ul > li > .m_complain{background-image:url(../images/icon_m_complain.png);}
.gnb > ul > li > .m_report{background-image:url(../images/icon_m_report.png);}
.gnb > ul > li > .m_check{background-image:url(../images/icon_m_check.png);}
.gnb > ul > li > .m_progress{background-image:url(../images/icon_m_progress.png);}
.gnb > ul > li > .m_user{background-image:url(../images/icon_m_user.png);}

/* contents */
.contents{position:relative; float:left; width:calc(100% - 255px); background-color:#f5f6fa;}
.contents .cont_wrap{padding:40px; padding-bottom:103px; box-sizing:border-box;}

/* footer */
.footer{position:absolute; left:0; bottom:0; width:100%; height:63px; background-color:#dfdfdf; line-height:63px;}
.footer p{color:#989898; text-align:center; letter-spacing:0; font-size:13px; text-transform:uppercase; }










