@charset "utf-8";

#error_wrap{max-width: 900px; margin: 130px auto; padding: 110px 0; text-align: center; background-color: #2b90d9; border-radius: 43px; box-shadow: 10px 10px 15px rgba(0,0,0,0.2);}

#error_wrap > .error_img{max-width: 240px; height: 194px; margin: 0 auto 55px auto; background: url(../images/error.png) bottom center no-repeat;}

#error_wrap div>p{color: #ffffff; font-size: 14px; line-height: 22px; word-break:keep-all;}
#error_wrap div>p:first-child{font-size: 24px; font-weight: 600; margin-bottom: 25px;}

#error_wrap a{margin-top: 40px;}

.icon_home{padding-left: 27px; background-image: url(../images/icon_home.png); background-position: left center;}

@media screen and (max-width:1024px){
    #error_wrap{max-width: 100vw; height: 100vh; margin: 0 auto; padding: 0; border-radius: 0;}
    #error_wrap>.error_img{padding-top: 15vh; background-size:70%; margin-bottom: 4vh;}
    #error_wrap div{padding: 0 2vh;}

    #error_wrap div>p{font-size: 13px;}
    #error_wrap div>p:first-child{line-height: 32px;  font-size:20px; margin-bottom: 2vh;}
}