#board{}
table{width: 100%; border-collapse: collapse;border-spacing: 0; }
.blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
table th.es{}
table th.es:after{content: "*"; display: inline-block; position: relative; margin-left: 5px; font-weight: 500; font-size: 1.0em; color:#24929f; }
table input, table select{font-family: 'Nanum Gothic',"dotum","arial",sans-serif;}
table input[type="text"]{border: 1px #eaeaea solid; padding: 10px;}
table select{border: 1px #eaeaea solid; padding: 10px;}

/* 아이콘 버튼 */
.btnAttach {display:inline-block; padding-left:22px; color:#555;}
.btnAttach:hover {text-decoration:underline;}
.btnAttach.download{background:url("../images/board/btn_download.png") no-repeat 0 5px;}

/* input 테이블 */
.inputTable {border-top:2px solid #009fa2; margin-bottom: 20px; font-size: 0.8em;}
.inputTable table {width:100%;}
.inputTable table thead th{padding:12px 20px; font-weight:600; background:#f4f9fa; color:#333; font-size: 1.0em;}
.inputTable table tbody th,
.inputTable table tbody td {border-bottom:1px solid #e1e1e1; text-align:left; line-height:22px;}
.inputTable table tbody th {padding:10px; font-weight:600; background:#f4f9fa; color:#333; border-right: 1px #e1e1e1 solid;font-size: 1.0em;}
.inputTable table tbody td {padding:10px;}


/* 리스트 테이블 */
.listTable {border-top:2px solid #24929f; border-bottom:1px solid #ccc; margin-bottom: 20px;}
.listTable table {width:100%;}
.listTable table thead th {line-height:22px; color:#484848; background:#f4f9fa; font-size: 1.0em; font-weight: 700;}
.listTable table thead th,
.listTable table tbody td {text-align:center; padding:11px 10px; line-height:26px;border-right: 1px #ccc solid;}
.listTable table thead th:first-child,
.listTable table tbody td:first-child{border-left: 1px #ccc solid;}
.listTable table tbody td {border-top:1px solid #e1e1e1; font-size: 0.8em;}
.listTable table tbody td a {display:block; color:#333;}
.listTable table tbody td a:hover {text-decoration:underline;}
.listTable table tbody td a.ellipsis {min-width:100px;}
.listTable table tbody td a.ellipsis:hover {color:#26742d;}


/* 상세 테이블 */
.detailTable {margin-bottom:30px;}
.detailTable table {width:100%;}
.detailTable table colgroup col:first-child {width:95px !important;}
.detailTable table thead th {color:#24929f; background:#f4f9fa; font-weight: 500;font-size: 1.0em;}
.detailTable table thead th,
.detailTable table tbody th,
.detailTable table tbody td {padding:11px 0 11px 20px; line-height:26px; text-align:left;}
.detailTable table tbody th,
.detailTable table tbody td {border-bottom:1px solid #e1e1e1; font-size: 0.8em;}
.detailTable table tbody th {color:#333;font-size: 1.0em;}
.detailTable table tbody td ul {overflow:hidden; float:right;}
.detailTable table tbody td ul li {position:relative; float:left; padding-right:11px; margin-right:9px;}
.detailTable table tbody td ul li:last-child {margin-right:0; padding-right:0;}
.detailTable table tbody td ul li:before {display:block; content:""; position:absolute; top:7px; right:0; height:13px; border-left:1px solid #ccc;}
.detailTable table tbody td ul li:last-child:before {display:none;}
.detailTable table tbody td ul li strong {}
.detailTable table tbody td a.btnWhite {margin-left:12px;}
.detailTable table tbody td.cont {padding:25px 30px;}
.detailTable table tbody td.cont img {max-width:100%;}
.detailTable table tbody td.dlCont {padding:0;}
.detailTable table tbody td.dlCont dl dt {padding:11px 20px 11px 20px; color:#333;}
.detailTable table tbody td.dlCont dl dd {padding:0 30px 20px 30px;}
.detailTable table tbody td.dlCont.v2 {background:#f7f7f7;}
.detailTable table tbody td.dlCont.v2  dl dt {color:#26742d;}
.detailTable table tbody td.dlCont.v2  dl dd ul {float:none; margin-bottom:10px;}
.detailTable table tbody .tableNav th a {display:block;color:#333;}
.detailTable table tbody .tableNav td a:hover {text-decoration:underline;}
.detailTable table tbody .tableNav td {padding-right:90px; position:relative;}
.detailTable table tbody .tableNav td a {display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#333; }
.detailTable table tbody .tableNav td span {display:block; position:absolute; top:11px; right:0; width:90px; text-align:center;}
.detailTable.bdt {border-top:1px solid #e1e1e1;}


/* 페이징 */
.pagingWrap {position:relative; text-align:center; margin-top:30px; font-family: 'NanumGothic', 'dotum','arial',sans-serif;}
.pagingWrap .inner {display:inline-block; overflow:hidden;}
.pagingWrap .inner a,
.pagingWrap .inner strong,
.pagingWrap .inner .page {float:left;}
.pagingWrap .inner .page {margin:0 5px;}
.pagingWrap .inner a,
.pagingWrap .inner strong {margin:0 4px; line-height:30px; height:32px; width:32px; color:#666; border:1px solid #e6e6e6; box-sizing: border-box;}
.pagingWrap .inner > a {text-indent:-9999px; background-color:#e9f4f5; border-color:#e9f4f5; background-repeat:no-repeat; background-position:center center;}
.pagingWrap .inner > a.btnFirst {background-image:url("../images/board/btn_first.png");}
.pagingWrap .inner > a.btnLast {background-image:url("../images/board/btn_last.png");}
.pagingWrap .inner > a.btnPrev {background-image:url("../images/board/btn_prev.png");}
.pagingWrap .inner > a.btnNext {background-image:url("../images/board/btn_next.png");}
.pagingWrap .inner strong { color:#fff; background:#24929f; border:1px solid #15814b;}
.pagingWrap .btnArea {position:absolute; top:0; right:0;}

@media screen and (max-width: 1024px){
	.searchArea {margin-bottom:20px; padding:12px; position: relative;}
	.searchArea .inner div {position:relative; float:none;}
	.searchArea .inner div:first-child {width:100%; margin-top:0;}
	.searchArea .inner div:first-child > * {float:left; margin:0; width:48.2%;}
	.searchArea .inner div:first-child > *:first-child {margin-right:3.6%; width:48.2%;}
	.searchArea .inner div:last-child {padding-right:90px; width:100%;}

	.searchArea.v2 .inner div:first-child,
	.searchArea.v2 .inner div:last-child {width:100%; float: right; padding: 0 100px 0 21%;}
	.searchArea.v2 .inner div:first-child {padding:0; position: absolute; z-index: 1; width: 20%;}
	.searchArea.v2 .inner div:first-child > *:first-child {margin-right:0; width:100%;}
    
	.listTable.v2 table {table-layout:auto;}
	.listTable.v2 table colgroup col {width:auto !important;}
    
    /* 테이블 col 삭제 */
    .colRm.noneEl table {table-layout:auto}
	.colRm.noneEl table colgroup col {width:auto !important;}
	.colRm.col1 table colgroup col:nth-child(1),
	.colRm.col1 table thead th:nth-child(1),
	.colRm.col1 table tbody td:nth-child(1),
	.colRm.col2 table colgroup col:nth-child(2),
	.colRm.col2 table thead th:nth-child(2),
	.colRm.col2 table tbody td:nth-child(2),
	.colRm.col3 table colgroup col:nth-child(3),
	.colRm.col3 table thead th:nth-child(3),
	.colRm.col3 table tbody td:nth-child(3),
	.colRm.col4 table colgroup col:nth-child(4),
	.colRm.col4 table thead th:nth-child(4),
	.colRm.col4 table tbody td:nth-child(4),
	.colRm.col5 table colgroup col:nth-child(5),
	.colRm.col5 table thead th:nth-child(5),
	.colRm.col5 table tbody td:nth-child(5),
	.colRm.col6 table colgroup col:nth-child(6),
	.colRm.col6 table thead th:nth-child(6),
	.colRm.col6 table tbody td:nth-child(6),
	.colRm.col7 table colgroup col:nth-child(7),
	.colRm.col7 table thead th:nth-child(7),
	.colRm.col7 table tbody td:nth-child(7),
	.colRm.col8 table colgroup col:nth-child(8),
	.colRm.col8 table thead th:nth-child(8),
	.colRm.col8 table tbody td:nth-child(8),
	.colRm.col8 table colgroup col:nth-child(9),
	.colRm.col8 table thead th:nth-child(9),
	.colRm.col8 table tbody td:nth-child(9){display:none;}
    
    
    
    .detailTable {margin-bottom:20px;}
	.detailTable table {}
	.detailTable table colgroup col:first-child {width:65px !important;}
	.detailTable table thead th {padding:10px 8px; line-height:20px;}
	.detailTable table tbody th,
	.detailTable table tbody td {padding:10px 0 10px 8px; line-height:20px;}
	.detailTable table tbody td {padding:10px 8px;}
	.detailTable table tbody td ul {text-align:right;}
	.detailTable table tbody td ul li {display:inline-block; line-height:22px; float:none; padding-right:7px; margin-right:6px;}
	.detailTable table tbody td ul li:last-child {margin-right:0; padding-right:0;}
	.detailTable table tbody td ul li:before {top:5px; height:11px;}
	.detailTable table tbody td a.btnWhite {margin-left:0;}
	.detailTable table tbody td.cont {padding:10px 15px;}
	.detailTable table tbody td.cont.v1 {padding:20px 0 20px;}
	.detailTable table tbody td.dlCont {padding:0;}
	.detailTable table tbody td.dlCont dl dt {padding:10px 0 10px 8px;}
	.detailTable table tbody td.dlCont dl dd {padding:0 15px 15px 15px;}
	.detailTable table tbody td.dlCont.v2  dl dd ul {text-align:left; float:none; margin-bottom:5px;}
	.detailTable table tbody .tableNav th a {padding-right:18px;}
	.detailTable table tbody .tableNav th a.btnPrev {background-size:11px auto;}
	.detailTable table tbody .tableNav th a.btnNext {background-size:11px auto;}
	.detailTable table tbody .tableNav td {padding-right:0;}
	.detailTable table tbody .tableNav td span {display:none;}
    
    .pagingWrap {margin-top:20px;}
	.pagingWrap .inner a,
	.pagingWrap .inner strong,
	.pagingWrap .inner > a {margin:0 0 0 1px;}
	.pagingWrap .inner > a:first-child {margin:0;}
	.pagingWrap .inner > a.btnFirst {background-size:auto 10px;}
	.pagingWrap .inner > a.btnLast {background-size:auto 10px;}
	.pagingWrap .inner > a.btnPrev {background-size:auto 10px;}
	.pagingWrap .inner > a.btnNext {background-size:auto 10px;}
	.pagingWrap .inner a,
	.pagingWrap .inner strong {line-height:26px; height:28px; width:28px;}
	.pagingWrap .inner .page {float:left;}
	.pagingWrap .inner .page {margin:0 8px;}
	.pagingWrap .inner .page a,
	.pagingWrap .inner .page strong {margin:0; border-left:none;}
	.pagingWrap .inner .page a:first-child,
	.pagingWrap .inner .page strong:first-child {border-left:1px solid #e6e6e6;}
	.pagingWrap .inner .page strong {border:1px solid #15814b;}
	.pagingWrap.v2 {padding-bottom:60px; height:88px;}
	.pagingWrap.v2 .btnArea {top:inherit; bottom:0;}
}